@use "../abstracts/variables/font";

body {
    font-family: font.$font-text;
    font-size: 1.5rem;
}

button{
    font-family: font.$font-text;
    font-size: 1.5rem;
}

h1, h2 {
    font-family: font.$font-title;
    font-size: 2.5rem;
    font-weight: 750;
}


@media (min-width : 425px ){
    // A partir de 425px on va afficher...
    body {
        font-size: 2rem;
    }
    
    button{
        font-size: 2rem;
    }

    h1, h2 {
        font-size: 3.5rem;
    }


}
