
//abstracts 

@use "abstracts/variable";


// base 

@use "base/reset";
@use "base/base";
@use "base/fonts";
@use "base/typography";

//components

@use "components/buttons.scss";
@use "components/input.scss";
@use "components/cat-card.scss";
@use "components/pages/cat-list";
@use "components/pages/cat-details.scss";
@use "components/layout/header";
@use "components/layout/footer";
@use "components/pages/home";
@use "components/pages/profil-adoptant";
@use "components/pages/profil-proprietaire";
@use "components/pages/connexion";
@use "components/pages/inscription";
@use "components/pages/add-cat";
@use "components/pages/mentions-legales";
@use "components/pages/contact";
<<<<<<< HEAD
@use "components/pages/a-propos"
=======
@use "components/pages/error";
>>>>>>> 404
