@use "../../abstracts/variables/colors";
@use "../../abstracts/variables/font";

.footer {
    background-color: colors.$color-orange;
    display: flex;
    flex-flow: row wrap;
    flex-direction: column;
    align-items: center;
    padding: 5rem 1.5rem 2rem 1.5rem;
    color : white;

    a{
        &:hover{
            
            color: colors.$color-blue;
        }
    }

    &__visuals {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;


        &__logo {
            width: 70%;
            margin-bottom: 1rem;
        }

        &__social-media {
            padding: 2rem;
            display: flex;
            width: 80%;
            justify-content: space-around;
            align-items: center;

            img {
                width: 80%;
            }
        }

    }

    &__nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        

        &__left {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &__right {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &__item {
            text-decoration: none;
            color: white;
            padding: 0.5rem;
        }
    }
        &__mention {
            // margin-top: 5rem;
            // margin-top: 2rem;
            text-align: center;
            font-size: 0.85rem;
            padding-top: 3rem;  
            
            a {
                color: colors.$color-blue;
            }
           
        }
}

@media (min-width : 425px) {
    .footer{

        font-size: 1.5rem;
    }
}



@media (min-width : 767px) {
    // A partir de 767px (format tablette) on va afficher 

    .footer {
        padding: 3rem 4rem;
        flex-direction: row;
        justify-content: space-between;
        position: relative;

        &__visuals {

            align-items: center;
            flex-basis: 40%;

        }

        &__nav {
            flex-direction: row;


            &__left {
                align-items: flex-start;
                padding-right: 2rem;
            }

            &__right {
                align-items: flex-start;
                padding-left: 2rem;
            }
        }
         &__mention {
            position : absolute;
            bottom : 2rem;
            right : 4rem;         
        }


    }

}

@media (min-width : 1024px) {
    .footer {
        font-size: 2rem;
    }
}


@media (min-width : 1440px) {
    // A partir de 1440px (format laptop L) on va afficher
    // Des paddings adaptatifs


    .footer {
        padding-right: 10%;
        padding-left: 10%;

        &__nav {
            flex-basis: 50%;
            justify-content: flex-end;

            &__left {
                padding-right: 20%;
            }
        }
        &__mention {
            right : 8rem;
            font-size: 1.25rem;         
        }

    }

    @media (min-width : 2500px) {
        .footer{
            &__mention {
                right : 13rem;
                font-size: 1.5rem;         
            }
        }
        
    }
}


        

