@use '../../abstracts/variables/colors';
@use "../../abstracts/variables/font";

@media screen and (max-width: 768px) {
    .home {

        &__response {
            flex-direction: column;
            padding: 2rem 0;

            &__reverse {
                flex-direction: column-reverse;
                margin-left: 2em;
                margin-right: 2rem;
            }
        }

        .post__none {
            display: none;
        }
    }
}

.relative{
  position: relative;
  z-index: 1;
  .input{
    width: 100%;
  }
}


  #home__form__list {
    background-color: white;
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    position: absolute ;
    width:100%;
    top: 4rem;
    max-height: 15rem;
    overflow: auto;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
  }


.home {
    color: colors.$color-blue;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 6rem 0;

    &__title__carrousel {
        padding: 0 2rem;
        text-align: center;
    }

    &__bloc__text {
        max-width: 40rem;
        margin: 5% 5%;
    }

    &__title,
    &__paragraph {
        margin-bottom: 4rem;
    }

    &__img {
        text-align: center;

        img {
            width: 80%;
        }

        &__cat {
            width: 20rem;
        }

    }

    &__form {
        display: flex;
        flex-direction: column;
        width: 100%;


        &__label {
            margin-bottom: 1rem;
        }

        .button__orange--papate {
            margin-top: 5rem;
            width: 24rem;
        }
    }

    &__title {
        margin-top: 10rem;
        color: colors.$color-blue;
        &__abandonment {
        color: white;
    }
    }
}

.bg__blue {
    background-color: colors.$color-blue;
    color: white;
}

.bg__orange {
    background-color: colors.$color-bg2;
}