@use "../../abstracts/variables/colors";

.cat__details {

    h2{
        font-size: 2rem;
    }

    width: 80vw;
    margin: auto;

    .bold {
        font-weight: bold;
    }

    .cat__details__container {

        display: flex;
        flex-direction: column;

        .cat__details__photo, .cat__details__infos1, .cat__details__illustration, .cat__details__infos2  {
            width: 100%;
            color: colors.$color-blue;
        }

        .cat__details__photo {

            position: relative;

            &__cat-photo {
                width: 100%;
                height: auto;
                border-radius: 2rem;
            }


        }

        .cat__details__infos1 {

            h2 {
                text-align: center;
                margin: 2rem 0;
            }

            li {
                margin-bottom: 2rem;
                list-style-position: outside;
                
            }

            // ICONES DES LI
            

            #localisation::before{
                content: url("../icones/Vector\ \(5\).png");
            }
            #department::before{
                content: url("../icones/Vector\ \(6\).png");   
            }
            #price::before{
                content: url("../icones/Vector\ \(7\).png");   
            }
            #sex::before{
                content: url("../icones/Vector\ \(8\).png");               
            }
            #age::before{
                content: url("../icones/Vector\ \(9\).png");               
            }
            #vaccinate::before{
                content: url("../icones/Vector\ \(10\).png");              
            }
            #disease::before{
                content: url("../icones/Vector\ \(11\).png");               
            }
            #environmnent::before{
                content: url("../icones/Vector\ \(12\).png");               
            }

            #localisation::before,
            #department::before,
            #price::before,
            #sex::before,
            #age::before,
            #vaccinate::before,
            #disease::before,
            #environmnent::before{

                margin-right: 1rem;
                position: relative;
                top: 0.5rem;
            }
        }

        .cat__details__illustration {
            
            &-illu {
                width: 80%;
                margin-left: auto;
                margin-right: auto;
            }
        }

        .cat__details__infos2 {

            margin-top: 2rem;
            margin-bottom: 5rem;
            display: flex;
            flex-direction: column;
            

            span {
                display: inline-block;
                margin-bottom: 2rem;
            }

            p {
                margin-bottom: 2rem;
                line-height: 2rem;
            }

            li {
                list-style: inside;
                list-style-position: outside;
                list-style-type: disc;
                margin-bottom: 0.7rem;
            }

            button {
                align-self: center;
                margin: 2rem 0 4rem 0;
            }

        }
        
    }

    @media (min-width : 425px ){ 

        h2{
            font-size: 2rem;

        }
        font-size: 1.5rem;
    }

    @media (min-width : 768px ){ 
        h2{
            font-size: 2.5rem;
        }
        font-size: 2rem;
        .cat__details__illustration{
            &-illu{
                width: 50%;
            }
        }
    }

    @media (min-width : 1024px ){ 
        font-size: 2rem;

        .cat__details__infos1__title{
            font-size: 2.5rem;
        }

        .cat__details__container {

            margin-top: 3rem;
            flex-direction: row;
            flex-wrap: wrap;

            .cat__details__photo, .cat__details__infos1, .cat__details__illustration, .cat__details__infos2 {
                width: 50%;
            }

            .cat__details__infos1 {
                order: 1;
                display: flex;
                flex-direction: column;
                justify-content: center;
            }

            .cat__details__photo {
                order: 2;
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;

                &__cat-photo {
                    width: 100%;
                }
            }

            .cat__details__illustration {
                order: 3;
                margin-top: 5rem;
                margin-bottom: 0rem;
                display: flex;
                justify-content: center;
                align-items: center;

                
                img{
                    width: 60%;
                }
            }

            .cat__details__infos2 {
                order: 4;
                margin-top: 5rem;
                padding-left: 2rem;
                padding-right: 2rem;

                button {
                    align-self: flex-start;
                }
            }
        }
    }

    @media (min-width : 1440px ){ 
        .cat__details__infos1__title{
            font-size: 3rem;
        }
    }
}