@use "../../abstracts/variables/colors";

.cat__list {

    .title {

        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;

        img {
            width: 37rem;
            height: auto;
        }

        h2 {
            color: colors.$color-orange;
            font-weight: 750;
            text-align: center;
            margin-top: 4rem;
            margin-bottom: 6rem;
        }
    }

    .research {

        padding-bottom: 6rem;

        .search__cat__form {

            display: flex;
            flex-direction: column;
            align-items: center;

            div {
                margin-bottom: 2rem;
                width: 28rem;
                
                label {
                    color: colors.$color-orange;
                }

                select {
                    width: 100%;
                    padding: 0.7rem;
                    border-radius: 1rem;
                    margin-top: 1rem;
                    background-color: white;
                    color: colors.$color-blue;
                    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                }
            }
        }
    }

    .post__list {

        .post__list__container {
        
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            width: 80vw;
            margin: auto;
            
            .post {
                width: 43rem;
                height: 55rem;
                margin-bottom: 5rem;
                color: white;
                background-color: colors.$color-blue;
                border-radius: 2rem;
                position: relative;
                border: 2px solid white;
                box-shadow: 6px 6px 6px colors.$color-blue;
            
                .post__img{
                    width: 100%;
                    height: 50rem;
                    background-image: url(../img/chat_1.jpg);
                    background-repeat: no-repeat;
                    background-size: cover;
                    border-radius: 2rem 2rem 0 0;
                }
            
                .post__content {
                
                    .post__cat__name,
                    .post__cat__age {
                        position: absolute;
                    }
                
                    .post__cat__name {
                        font-size: 4rem;
                        bottom: 6rem;
                        left: 1rem;
                    }
                
                    .post__cat__age {
                    right: 1rem;
                    bottom: 6rem;
                    }
                
                    .post__cat__localisation {
                        font-size: 1.3rem;
                        font-weight: 300;
                        margin: 1.5rem;
                    
                        .bold {
                            font-weight: bold;
                            text-transform: uppercase;
                        }
                    }
                }            
            }
        }

        .post__list__navigation {
            width: 80vw;
            margin: auto;
            display: flex;
            justify-content: space-between;
        }
    }
}