@use "../../abstracts/variables/colors";
@use "../../abstracts/variables/font";


.contact {

    color: white;
    background-color: colors.$color-blue;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 5rem 5rem 5rem;
    margin-bottom: 5rem;

    &__img {
        margin: 3rem 0;
        width: 100%;
    }

    &__form {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &__title {
            margin: 2rem 0;
            text-align: center;
        }

        &__fieldset {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            &__field {
                margin-bottom: 2rem;
                width: 100%;

                &__input {
                    width: 100%;
                    height: 30%;
                }
            }

        }

        &__button {
            margin-top: 2rem;
        }
    }
}




@media (min-width : 768px) {

    // A partir de 768px (tablette)
    .contact {

        &__img {
            width: 50%;
        }

        &__form {

            &__fieldset{
                display: flexbox;
                align-items: center;
                &__field {
                width: 70%;
            }
        }

        }

    }
}

@media (min-width : 1024px) {
    // A partir de 1024 px (laptop)

    .contact {
        padding: 5rem;
        margin-bottom: 5rem;
        flex-direction: row-reverse;
        justify-content: space-between;

        &__img {
            width: 40%;
        }

        &__form {
            width: 50%;
            align-items: flex-end;

 
            &__title {
                margin-bottom: 5rem;

            }

            &__fieldset{
                align-items: flex-end;
                &__field {
                width: 90%;
                }
            }

            &__button {
                margin-top: 2rem;
                align-self: flex-end;
            }
        }

    }

}