@use '../../abstracts/variables/colors';


// @media screen and (max-width: 1100px) {
//     .home {

//         &__bloc__text {
//             max-width: 30rem;
//         }
//     }
// }

@media screen and (max-width: 768px) {
    .home {
        flex-direction: column;
        margin-left: 2em;
        margin-right: 2rem;

        // .home:first-child {
        //     flex-direction: column-reverse;
        // }
    }
}
.home {
    color: colors.$color-blue;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 16rem;
    


    &__bloc__text {
        max-width: 50rem;
        margin: 0 5%;
    }

    &__title,
    &__paragraph {
        margin-bottom: 4rem;
    }

    &__img {
        text-align: center;

        img {
            width: 80%;
        }

        &__cat{
            width: 15rem;
        }

    }

    &__form {
        display: flex;
        flex-direction: column;
        width: 100%;

        &__label {
            margin-bottom: 1rem;
        }

        .button__orange--papate {
            margin: 5rem 0;
            width: 20rem;
        }
    }

    &__carroussel__title{
        text-align: center;
        margin-top: 16rem;
        color: colors.$color-blue;
    }

    &__arrow{

    }

}