@use "../../abstracts/variables/colors";
@use "../../abstracts/variables/font";


.inscription {

    display: flex;
    flex-direction: column;
    align-items: center;



    &__img {
        margin: 3rem 0;
        width: 55%;
    }

    &__form {

        background-color: colors.$color-bg2;
        width: 100%;
        padding: 3rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &__title {
            color: white;
            text-align: center;
            margin-bottom: 2rem;
        }

        &__fieldset {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .left{
                width: 100%;
            }

            .right{
                width: 100%;
                display: flex;
                flex-direction: column;

            }

            &__field {
                margin-bottom: 2rem;
                width: 100%;

                .radio {
                    padding: 0 2rem;
                }

                label {
                    color: colors.$color-orange;
                }

                span {
                    font-weight: 600;
                }

                div {
                    margin-top: 2rem;
                }

                &__input {
                    width: 100%;
                }
            }
        }

        &__button {
            margin-top: 2rem;
            align-self: center;
        }

    }
}




@media (min-width : 768px) {
    // A partir de 768px (tablette)

    .inscription {


        &__form {
            padding: 4rem;

            .left{
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            .right{
                align-items: center;
            }

            &__fieldset__field {
                width: 70%;
            }

        }

    }
}

@media (min-width : 1024px) {
    // A partir de 1024 px (laptop)

    .inscription {

        flex-direction: row;

        &__img {
            width: 30%;
        }

        }

}