@use "../abstracts/variables/colors";


.button__orange--papate {

    background-color: colors.$color-orange;
    padding: 0.5rem 2rem;
    border: none;
    border-radius: 1rem;
    color: white;

    &:before {
        content: url(../icones/papate.png);
        margin-right: 1rem;
    }

    &:hover {
        border: 3px solid colors.$color-orange;
        background-color: rgba(255, 255, 255, 0.60);
        color: colors.$color-orange;
        padding: 0.7rem 0.7rem;

        &:before {
            content: url(../icones/papate-orange.png)
        }
    }
}

@media (min-width : 768px) {
    .button__orange--papate {
        padding: 1rem;
    }
}

.button__blue--papate {

    background-color: colors.$color-blue;
    padding: 1rem 1rem;
    border: none;
    border-radius: 1rem;
    color: white;

    &:before {
        content: url(../icones/papate.png);
        margin-right: 1rem;
    }

    &:hover {
        border: 3px solid colors.$color-blue;
        background-color: rgba(255, 255, 255, 0.60);
        color: colors.$color-blue;
        padding: 0.7rem 0.7rem;

        &:before {
            content: url(../icones/papate-bleue.png)
        }
    }
}

.button__orange{

    background-color: colors.$color-orange;
    padding: 1rem 1rem;
    border: none;
    border-radius: 1rem;
    color: white;

    &:hover {
        border: 3px solid colors.$color-orange;
        background-color: rgba(255, 255, 255, 0.60);
        color: colors.$color-orange;
        padding: 0.7rem 0.7rem;
    }

}

.button__blue{

    background-color: colors.$color-blue;
    padding: 1rem 1rem;
    border: none;
    border-radius: 1rem;
    color: white;

    &:hover {
        border: 3px solid colors.$color-blue;
        background-color: rgba(255, 255, 255, 0.60);
        color: colors.$color-blue;
        padding: 0.7rem 0.7rem;
    }
}