.cat__details__photo{
    .heart__container{
        position: absolute;
    }
}

#message{
    position: absolute;
    left: 0;
    width: 80%;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 2rem;
    padding: 2rem;
    color: red;
}

.heart{
    
    &__container {
    padding: 3rem;
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
}


}

.hidden {
    display: none;
}




@media (min-width : 768px) {}