@use "../abstracts/variables/colors";

.input {
    background-color: white;
    padding: 0.8rem;
    border: none;
    border-radius: 1rem;
    color: colors.$color-blue;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
    font-size: 1.5rem;
    outline: none;
}

@media (min-width : 425px ){
    .input{
    font-size: 2rem;
}
}